<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UVCE Campus Issue Tracker</title>
        <link rel="stylesheet" href="../public/style.css">
</head>
<body>
        <nav class="navbar">
        <div class="logo">UVCE </div>
        <div class="nav-links">
            <a href="login.html">Login</a>
        </div>
    </nav>

    <section class="hero">
        <h1>
            <b>🎓 University of Visvesvaraya College Of Engineering</b>
        </h1>
        <h2>
            <b>📍 KR Circle, Bengaluru 🏛️</b>
        </h2>
        <p>
            <b>Help us keep our beautiful campus clean, safe, and functional by reporting issues 📢✨</b>
        </p>
        
    </section>

    <footer>
        <p>&copy; 2025 UVCE | FixMate | Designed with ❤️</p>
    </footer>

</body>
</html>